<template>
  <div class="addCont">
    <span>
      Recibe todos los beneficios en tu
      <b>Seguro de Auto HDI</b>
    </span>
    <hr />
    <div class="row">
      <div class="col-12 col-sm-3">
        <div class="img123W">
          <div class="img1 size" :title="$store.state.config.k1"></div>
        </div>
        <p>Asistencia vial</p>
      </div>
      <div class="col-12 col-sm-3">
        <div class="img123W">
          <div class="img2 size" :title="$store.state.config.k1"></div>
        </div>
        <p>Auto sustituto</p>
      </div>
      <div class="col-12 col-sm-3">
        <div class="img123W">
          <div class="img3 size" :title="$store.state.config.k1"></div>
        </div>
        <p>{{$store.state.config.msi}} Meses Sin Intereses</p>
      </div>
      <div class="col-12 col-sm-3 my-auto">
        <img src="/img/hdiC.svg" width="170" height="80" style="width:170px" class="img-fluid" alt="">
      </div>
    </div>
  </div>
</template>