<template>
  <div class="container-fluid">
    <div class="row endCont">
      <div class="col-xl-10 offset-xl-1">
        <div class="navbar p-0">
          <div class="imgLogoW">
            <div class="imgLogo size" :title="$store.state.config.asgNombre"></div>
          </div>
          <div>
            <p class="p-0 m-auto">
              <b>{{$store.state.config.dominio}}</b>
            </p>
            <p class="p-0 m-auto">
              <a
                href="/"
                data-toggle="modal"
                data-target="#avisopriv"
                class="link1"
              >- Aviso de privacidad -</a>
            </p>
          </div>
        </div>
        <p>
          *Los precios mostrados en esta página web son proporcionados por la Compañía de Seguros.
          Este sitio web esta operado por un agente de seguros certificado que te brindará atención 100% personalizada.
          De
          <a
            :href="'https://' + $store.state.config.domV2 + '/'"
            target="_blank"
          >{{$store.state.config.asgNombre}} Seguros de Autos,</a> Puedes encontrar mas promociones
          en
          <a
            :href="'https://' + $store.state.config.domV3 + '/'"
            target="_blank"
          >{{$store.state.config.asgNombre}} Seguros</a> y comparadores online
          cómo:
          <a
            href="https://ahorraseguros.mx/"
            rel="nofollow"
            target="_blank"
          >AhorraSeguros,</a>
          <a href="https://comparaya.mx/" rel="nofollow" target="_blank">ComparaYa</a> o
          <a
            href="https://mejorsegurodeauto.mx/"
            rel="nofollow"
            target="_blank"
          >MejorSegurodeAuto.</a>
        </p>
      </div>
    </div>
  </div>
</template>