<template>
  <div class="msj card mb-5 py-3">
    <p class="col-12 card-body text-center">
        <span>Tenemos increíbles descuentos, por favor ponte en contacto con nosotros para recibir más información</span>
    </p>
    <div class="row ">
      <div class="col-12 text-center m-auto">
        <a :href="'tel:55'+$store.state.config.telefonoAS" class="btn col-md-4 col-8 btn-success py-3" >
    <svg class="icon">
      <use xlink:href="#llamada"/>
    </svg>
    &nbsp;Llamar Ahora&nbsp;
    <svg class="icon">
      <use xlink:href="#proximo"/>
    </svg>
    </a>
    <br>
      </div>
    </div>
  </div>
</template>