.v2Head{width: 100%;}
.size{
  background-repeat: no-repeat;
  background-image: url(/img/ps.png);
  width: 100%;
  height: 100%;
}
.imgLogoW{
  margin: 2px 0;
  width: 120px;
  height: 72px;
}
.imgLogo{
  background-position: -473px -167px;
}
.img-logo{
  width: 70px;
  height: 70px;
}
#tooltip_example {

  display:none;
  background: #463c3c;
  border:3px solid #463c3c;
  padding:5px;
  position: absolute;
  bottom: 5.5rem;
  left: 12%;
  word-wrap:break-word;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}
#tooltip_example:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -20px;
  left: 45%; 
  width: 0;
  height: 0;
  border-color:  #463c3c transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
}
.dauto {
  font-size: 22px;
  font-weight: 900;
  /* background-color: #026830; */
  color: #000;
  text-decoration: underline #026830;
  border-radius: 4px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  padding: 5px 10px;
}
.txtgracias{
  text-align: center;
}
#btnTrackingEcommerce,#btnTrackingTelefono{
  font-size: 22px;
  width: 306px;
}
/* #btnTrackingTelefono{
  font-size: 22px;
} */
.imgTelW{
  width: 26px;
  height: 26px;
  float: left;
  margin: 0 3px 0 0;
}
.imgTel{
  background-position: -489px -89px;
}
.img123W{
  width: 110px;
  height: 80px;
  margin: 15px auto 0;
}
.img1{
  background-position: -302px -7px;
}
.img2{
  background-position: -560px -29px;
  background-size: 800px;
}
.img3{
  background-position: -685px -23px;
  background-size: 800px;
}
.imgCheckW{
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 0 -3px 0;
}
.imgCheck{
  background-position: -518px -89px;
}
.imgCheckColor{
  background-position: -494px -8px;
}
.imgTopW{
  width: 19px;
  height: 19px;
  display: inline-block;
  margin: 0 5px 0 0;
}
.imgTop{
  background-position: -505px -113px
}
.imgFormW{
  width: 19px;
  height: 19px;
  display: inline-block;
  margin: 0 0 -1px 5px;
}
.imgForm{
  background-position: -485px -118px
}


/* COLORES DE ANA */
/* #026830 rojo primary
#9f1b32 rojo secundario */
p,li{
  color: #444;
}
.tri {
  width: 0;
  height: 0;
  margin: 0 auto;
  border-bottom: 15px solid transparent;
  border-top: 33px solid #FFF;
  border-left: 33px solid transparent;
  border-right: 33px solid transparent;
}
.triangulo {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(222 222 222);
}
h2, h3, h4, h5{
  color: #026830;
  text-align: left;
}
a, a:hover{
  text-decoration: none
}
ul{
  list-style: none;
}
.navbar a img,.endCont img{
  margin: 0;
}
.navbar span{
  color: #026830;
  font-weight: bold;
}
.btnTel a img{
  width: 25px;
  margin: 0;
}
.btnTel a{
  font-size: 18px;  
  color: #026830;
  border: 2px solid #026830;
  padding: 3px 10px;
  margin: 0 5px 0 0;
}
.btnTel a:hover{
  color: #026830;
}
.btnTel p{
  font-size: 12px;
  padding: 0;
  margin: 0 0 -5px 8px;
  color: #026830;
}
.imgFondo {
  background-repeat: no-repeat;
  background-image: url(/img/car.webp);
  overflow: hidden;
  background-position: 100% 100%;
  background-size: cover;
  position: relative;
}

.txtForm {
  margin: auto;
  color: #FFF;
  text-align: center;
  font-size: 16px;
}

.form {
  padding: 4px 5px;    
}

.form select,
.form input {
  height: 52px;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0 5px;
}

.form select:focus,
.form input:focus {
  box-shadow: 0 0 0 3px #007bff;
}

.form select.is-invalid,
.form input.is-invalid {
  box-shadow: 0 0 0 2px #ff0000;
}

.checkBox {
  margin: auto;
  padding: 5px 0;
}

.checkBox label,
.checkBox b {
  color: #fff;
  font-size: 14px;
}
.check b {
  color: #556;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  margin-top: 0px;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  margin-top: 0px;
}

.btnform {
  margin: 0;
  padding: 0 5px;
}

.btnform button {
  background: #00b62a;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  font-size: 28px;
  padding: 5px 0;
  margin: 0 0 15px 0;
}

.btnform button:hover {
  color: #fff;
  background: #0a942a;
}
h1{
  font-size: 42px;
  color: #026830;
  margin: 5% 0 0 0;
  text-align: center;
  margin-bottom: 2%;
}
.txt p{
  margin: 1% 0 0 0;
  padding: 0 15px 3px 3px;
  font-weight: bold;
  font-size: 25px;
  color: #026830;
  /* border: 2px solid #026830;
  border-radius: 5px; */
  /* position: absolute; */
}
/*.txt img{
  width: 50%;
  
}*/
.cont{
  margin-top: 1%;
  text-align: center;
  font-size: 18px;
  line-height: 1.8;
}
.cont p, .cont li{
  text-align: left;
}
.cont i, .cont b{
  color: #026830;
}
.cont li img{
  width: 17px;
}
.addCont span{
  font-size: 32px;
  color: #444
}
.addCont p{
  font-size: 18px;
  text-align: center;
}
.addCont img{
  width: 100px;
  margin: 4% 0 0 0;
}
hr{
  border-bottom: 3px solid #026830;
  margin: 1% 0 0 15%;
  padding: 0;
  width: 70%;
}
.bgColor{
  background: #026830;
  text-align: center;
  padding: 0 0 1% 0;
}
.bgColor h2, .bgColor p, .bgColor li, .bgColor i{
  text-align: left;
  color: #fff;
}
.bgColor img{
  width: 60px;
}

.endCont{
  background: #f8f8f8;
  text-align: center;
}
.endCont .navbar p, .endCont .navbar a{
  color: #026830;
  font-size: 16px;
}
.endCont p{
  font-size: 10px;
  color: #b8b8b8;
  text-align: left;
}
.endCont p, a:hover{
  color: #b8b8b8;
}
.footer{
  background: #026830;
  padding: 1% 0 0 0;
}
.footer a, .footer p, .footer span{
  color: #fff;
  font-size: 18px;
  text-align: center;
}
.botonTop{
  background: #026830;
}
.cont .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f1f1f1;
}
.cont thead th {
  padding: 4px 8px !important;
  color: #fff;
  border: 1px solid #fff;
  background: #026830;
  text-align: left;
}
.cont tbody td {
  padding: 3px 8px !important;
  font-weight: normal;
  border-top: 0;
  border: 1px solid rgb(192, 192, 192);
  color: #556;
}
.cont tbody td img{
  width: 17px;
}
.cont .table-responsive{
  border-radius: 15px;
}
/* THANKS */
.txtVist{
  text-align: center;
}
.txtVist p{
  margin: 0;
}
.txtVist b{
  font-size: 36px;
  color: #fff;
  text-align: center;
}
.txtVist span{
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.dinero p{
  margin: 30px 0 0 0;
  color: #fff;
  font-size: 18px;
}
.dinero img{
  margin: -5px 0 0 0;
  width: 25px;
}
.dinero span{
  color: #fff;
  font-size: 46px;
  font-weight: bold;
}
.dinero button{
  background: #00b62a;
  color: #fff;
  padding: 10px;
  border-radius: 8px;
}
.dinero button:hover{
  background: #0a942a;
  color: #fff;
}
.rest{
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.rest span, .rest a{
  color: #026830;
  font-size: 24px;
}

.rest p{
  font-size: 18px;
  color: #556;
  background: #f1f1f1;
  border-radius: 5px;
  padding: 8px 0;
}
.rest b{
  color: #026830;
}
.rest table{
  margin: 10px 0 0 0;
  text-align: left;
}
.rest th{
  padding: 2px 10px !important;
  background: #026830;
  color: #FFF;
}
.rest td{
  padding: 2px 10px !important;
  color: #444;
}
/* .table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 112, 240, 0.157);
} */
.sk-fading-circle .sk-circle:before {
  background-color: #ffffff;
}
.alertaColor {
  background: #026830;
}
#btnTrackingEcommerce, #btnTrackingTelefono{height: 64px !important;display: flex;justify-content: center;align-items: center;}
.txt-tel, .txt-compra{font-size: 14px !important;display: flex; gap: 5px; justify-content: center; align-items: center;}
.icons{width: 20px; height: 20px;}
@media(max-width: 1190px){
  #tooltip_example {
    bottom: 5.5rem;
    left: 0%;
  }
}
@media (min-width: 801px) and (max-width: 1100px) {
}
@media (min-width: 768px) and (max-width: 800px) {
  #tooltip_example {
    bottom: 4.5rem;
    left: 0%;
  }
  .txt-compra, .txt-tel{margin-top: -8px;}
  .txtForm{
    font-size: 16px;
  }
  #btnTrackingEcommerce,#btnTrackingTelefono{
    font-size: 22px;
    width: 222px;
  }
  h1{
    font-size: 36px;
    margin: 15% 0 0 0;
  }
  .txt p{
    font-size: 24px;
  }
 
  .cont{
    font-size: 15px;
  }
  h2, h3, h4, h5, h6{
    font-size: 24px;
  }
  .txtVist p{
    font-size: 26px;
  }
}
@media (min-width: 426px) and (max-width: 767px) {
  #tooltip_example {
    left: 5%;
}
  .cont, .endCont .navbar p, .endCont .navbar a{
    font-size: 15px;
  }
  h1{font-size: 1.7rem; text-align: center;}
  .imgFondo{
    background-image: none;
    background-color: #006731;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .txtVist p, .rest span{
    font-size: 18px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .form select,
  .form input {
    border: 2px solid #e2dfdf;
}
}
@media (min-width: 376px) and (max-width: 425px) {
  #tooltip_example {
    left: 5%;
}
  .logobtn {
    display: none;
}
  .dinero{margin-right: 61px;}
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .logobtn{display: none;}
  h1{font-size: 1.6rem; text-align: center;}
  .imgFondo{
    background-image: none;
    background-color: #006731;
  }
  .txtVist p, .rest span{
    font-size: 20px;
  }
  .cont, .rest p, .rest a{
    font-size: 15px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 14px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero button{
    font-size: 14px;
  }
  .form select,
  .form input {
    border: 2px solid #e2dfdf;
}
}
@media (min-width: 321px) and (max-width: 375px) {
  .dinero{margin-right: 55px;}
  .btnform button {
    font-size: 24px;
  }
  .logobtn{display: none;}
  #btnTrackingEcommerce,#btnTrackingTelefono{
    font-size: 18px;
    width: 280px;
  }
  h1{font-size: 1.5rem; text-align: center;}
  .imgFondo{
    background-image: none;
    background-color: #006731;
  }
  h1{font-size: 1.8rem; text-align: center;}
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 24px;
  }
  .cont, .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 13px;
    text-align: center;
  }
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 16px;
  }
  .txtVist p, .rest span{
    font-size: 16px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 14px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
  .form select,
  .form input {
    border: 2px solid #e2dfdf;
}
}
@media (min-width: 280px) and (max-width: 320px) {
  #tooltip_example {
    bottom: 5rem;
    left: 0%;
}
  .dinero{margin-right: 41px;}
  .txt-tel, .txt-compra{font-size: 12px !important;}

  .btnform button {
    font-size: 22px;
  }
  .logobtn{display: none;}
  #btnTrackingEcommerce,#btnTrackingTelefono{
    font-size: 17px;
    width: 270px;
  }
  h1{font-size: 1.4rem; text-align: center;}
  .imgFondo{
    background-image: none;
    background-color: #006731;
  }
  .btnTel a{
    font-size: 16px;  
    padding: 1px 2px;
    margin: 0 1px 0 0;
  }
  .txtForm{
    font-size: 14px;
  }
  .checkBox label, .checkBox b{
    font-size: 12px;
  }
  h2, h3, h4, h5, h6, .addCont span, .txtVist b{
    font-size: 20px;
  }
  .cont, .rest p, .rest a{
    font-size: 14px;
  }
  .endCont .navbar p, .endCont .navbar a{
    font-size: 12px;
    text-align: center;
  }
  .endCont img {
    width: 150px;
}
  .endCont .navbar{
    display: block;
  }
  .footer a, .footer p, .footer span{
    font-size: 14px;
  }
  .txtVist p, .rest span{
    font-size: 14px;
  }
  .rest th, .rest td{
    padding: 3px !important;
    font-size: 12px;
  }
  .dinero p{
    font-size: 12px;
  }
  .dinero span{
    font-size: 30px;
  }
  .dinero button{
    font-size: 12px;
  }
  .form select,
  .form input {
    border: 2px solid #e2dfdf;
}
}
@media (min-width: 250px) and (max-width: 279px){
  .btnTel a {
    font-size: 11px;
    color: #026830;
    border: 2px solid #026830;
    padding: 3px 10px;
    margin: 0 5px 0 0;
  }
  .size {
    background-repeat: no-repeat;
    background-image: url(/img/ps.png);
    width: 80%;
    height: 100%;
    background-size: 430px;
  }
  .imgLogo {
    background-position: -346px -117px
  }
  .imgTel {
    background-position: -358px -61px
  }
}
svg.icon{width:20px;height:20px;}
.logoficha{width: auto; height: 70px;}
.adornoNormal{border:4px dotted #006731;border-radius:6px;}
.colorNormal{background:#006731;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
/*Vista Desktop*/
.contenedorPromo{background:#fff;padding:5px;border-radius:6px;margin-top: 3%;box-shadow:2px 2px 5px #bababa;max-width:500px;width:100%;height:auto;position: relative;}
.adornosPromo{border:4px dotted #ff0049;border-radius:6px;}
.labelPromo{position:absolute;    top: -13px;
  left: -4%;background:#006731;color:#fff;border-radius:10px;padding:0px 12px;border: solid 3px;}
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.5rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:15px;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
/*Vista mobile*/
@media (min-width: 240px) and (max-width: 520px) {  
.labelPromo{position:absolute;    top: -15px;
  left: -4%;background:#006731;color:#fff;border-radius:10px;padding:0px 12px;}  
.descuentosPromo{background:#ff0049;color:#fff;text-align:center;font-weight:bold;font-size:15px;margin-bottom:0;padding:0.3rem 0.2rem;border-radius:5px;}
.msiPromo{font-weight:bold;font-size:15px;text-align:center;display:block;line-height:1;}
.labelendPromo{font-weight:500;font-size:0.8rem;text-align:center;display:block;text-transform:uppercase;}
}