<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-10 offset-xl-1 p-0">
        <div class="navbar m-0 p-0">
          <!-- LOGO -->
          <a href="/">
            <div class="imgLogoW">
              <img :src="this.$store.state.config.logoAseguradora"  width="70" height="70" alt="logo" class="img-fluid img-logo">
            </div>
          </a>
          <span class="d-none d-md-block">¡ COTIZA EN 5 SEGUNDOS !</span>
          <!-- BTN TEL -->
          <div class="btnTel">
            <a id="idTelDID" :href="'tel:55'+$store.state.config.telefonoAS" class="btn">
              <p>LLAMA GRATIS</p>
              <div class="imgTelW">
                <div class="imgTel size" title="Tel"></div>
              </div>
              <b>(55) {{$store.state.config.telefonoAS}}</b>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
// <script>
// export default {
//   created: function() {
//     if (this.$route.name === "index") {
//       this.$store.state.config.idMedioDifusion = 2854;
//       this.$store.state.config.idMedioDifusionInteraccion = 2987;
//       this.$store.state.config.idMedioDifusionEcommerce = 2986;
//       this.$store.state.config.urlGracias = "/"
//     }
//     this.$store.state.config.aseguradora = "HDI";
//     this.$store.state.config.cotizacion = true;
//     this.$store.state.config.emision = true;
//     this.$store.state.config.interaccion = true;
//     this.$store.state.config.grupoCallback = "VN HDI";
//     this.$store.state.config.from = "DOMINIO-HDI";
//     this.$store.state.config.idSubRamo = 32;
//     this.$store.state.config.idPagina = 363;
//     this.$store.state.config.dominioCorreo = "AUTOS|HDI|seguroshdi-com";
//     this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
//     this.$store.state.config.idCampana = 44;
//     /*MKT*/
//     this.$store.state.config.asgNombre = "HDI"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
//     this.$store.state.config.img = "ana.svg"; // HEADER, CARD, FOOTER
//     this.$store.state.config.titulo = "HDI Seguros de Autos"; // INDEX
//     this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
//     this.$store.state.config.alert = false; //CAMBIA DE ALERTA DEFAULT A PROMO
//     this.$store.state.config.promo = "";
//     this.$store.state.config.adic = " ";
//     this.$store.state.config.dominio = "seguroshdi.com";
//     this.$store.state.config.domV2 = "seguroshdi.com";
//     this.$store.state.config.domV3 = "seguroshdi.com";
//     this.$store.state.config.k1 = "HDI Seguros";
//     this.$store.state.config.k2 = "Seguros HDI";
//     this.$store.state.config.k3 = "HDI Seguros de autos";
//     this.$store.state.config.k4 = "Seguros de autos HDI";
//     this.$store.state.config.k5 = "HDI Seguros Autos";
//     this.$store.state.config.k6 = "HDI en México";
//     this.$store.state.config.k7 = "HDI Seguros México";
//   }
// };
// </script>