<template>
  <div id="botonTop">
    <!-- <div v-if="$store.state.config.alert == true">
      <A />
    </div>-->
    <!-- <div v-if="$store.state.config.alert == false"> -->
    <!-- <A /> -->
    <!-- </div> -->
    <Header />
    <Modal />
    <div :class="$store.state.config.dominio + '-- VERSION 1'"></div>
    <Btn />
    <nuxt />
    <hotsaleAlert />
    <!-- <cookies/> -->
    <Footer />
  </div>
</template>
<script>
// import A from "~/components/alerta/alerta.vue";
// import B from "~/components/common/alertaSegObli.vue";
import Header from "~/components/common/Header.vue";
import Modal from "~/components/utilities/modal.vue";
import Btn from "~/components/common/btnTop.vue";
import Footer from "~/components/common/Footer.vue";
import hotsaleAlert from "../components/alerta/hotsaleAlert.vue";
// import cookies from "~/components/common/cookies.vue";

export default {
  components: {
    // A,
    // A,
    Header,
    Modal,
    Btn,
    Footer,
    hotsaleAlert,
    // cookies
  }
};
</script>
