<template>
  <div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="row">
            <!-- TEXT PRINCIPAL -->
            <div class="col-lg-5 mx-auto col-md-6 col-12 d-md-block">
                <h1 class="text-white">{{$store.state.config.titulo}}</h1>
                <cardpromo></cardpromo>
              <!-- <div class="d-none d-md-block mt-3">
                <img src="/img/hdiC.svg" class="ms-3" alt="promo"/>
              </div> -->

            </div>
            <!-- FORM -->
            <div class="col-lg-5 mx-auto col-md-6 col-sm-12">
              <formulario :config="this.$store.state.config" />
              <!-- <div class="col-8 offset-2 d-md-none">
                <img class="v2Head" src="/img/hdiC.svg" width="267" height="115" alt="promo"/>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="this.$route.path === '/'">
      <Contenido />
    </div>
  </div>
</template>
<script>
import formulario from "~/components/forms/newAutosForm.vue";
import Contenido from "~/components/content/contenido.vue";
import cardpromo from "~/components/alerta/alerta.vue";
import getInsurerPromo from "~/plugins/promoData.js";
import telefonoService from "~/plugins/telefonoService.js";
export default {
  layout: "index",
  components: {
    formulario,
    Contenido,
    cardpromo
  },
  beforeCreate() {
      this.$store.state.config.aseguradora = "HDI";
    this.$store.state.config.cotizacion = true;
    this.$store.state.config.emision = true;
    this.$store.state.config.interaccion = true;
    this.$store.state.config.grupoCallback = "VN HDI";
    this.$store.state.config.from = "DOMINIO-HDI";
    this.$store.state.config.idSubRamo = 32;
    this.$store.state.config.idPagina = 363;
    this.$store.state.config.dominioCorreo = "AUTOS|HDI|seguroshdi-com";
    this.$store.state.config.textoSMS = "Ya tenemos tu cotizacion, en breve un ejecutivo te contactará.";
    this.$store.state.config.idCampana = 44;
    /*MKT*/
    this.$store.state.config.asgNombre = "HDI"; //NOMBRE DE LA ASEGURADORA EN LA VISTA
    this.$store.state.config.img = "ana.svg"; // HEADER, CARD, FOOTER
    this.$store.state.config.titulo = "HDI Seguros de Autos"; // INDEX
    this.$store.state.config.parrafo = " "; //CONTENIDO AGREGADO A LA PROMO EN H1
    this.$store.state.config.alert = false; //CAMBIA DE ALERTA DEFAULT A PROMO
    this.$store.state.config.promo = "";
    this.$store.state.config.adic = " ";
    this.$store.state.config.dominio = "seguroshdi.com";
    this.$store.state.config.domV2 = "seguroshdi.com";
    this.$store.state.config.domV3 = "seguroshdi.com";
    this.$store.state.config.k1 = "HDI Seguros";
    this.$store.state.config.k2 = "Seguros HDI";
    this.$store.state.config.k3 = "HDI Seguros de autos";
    this.$store.state.config.k4 = "Seguros de autos HDI";
    this.$store.state.config.k5 = "HDI Seguros Autos";
    this.$store.state.config.k6 = "HDI en México";
    this.$store.state.config.k7 = "HDI Seguros México";
    this.$store.state.config.urlGracias = 'thank-you'
    this.$store.state.config.idMedioDifusion = 2854;
    this.$store.state.config.idMedioDifusionInteraccion = 2987;
    this.$store.state.config.idMedioDifusionEcommerce = 2986;
      // this.$store.state.config.urlGracias = "/"

    this.$store.state.config.clase2="col-4 col-md-4 col-lg-4"
    this.$store.state.config.clase3="col-4  col-md-8 col-lg-8 my-auto"
    this.$store.state.config.clase1="adornoNormal"
    this.$store.state.config.colorPromo="colorNormal"

  },
  async created() {

    try {
      const telefono = await telefonoService(
        this.$store.state.config.idMedioDifusion
      )
 
      if(parseInt(telefono.data.telefono)){
        var tel = telefono.data.telefono +""
        var tel2= tel.substring(2,tel.length)
        console.log(tel2);
        this.$store.state.config.telefonoAS = tel2
      }else{
        console.log( telefono.data.telefono ) 
      }	
    } catch (error) {
      console.log(error);
    }


    try {
      // Traemos la promoción especifica de la aseguradora para este dominio.
      const insurer = await getInsurerPromo(
        this.$store.state.config.aseguradora
      );

      // Establecemos el porcentaje y meses sin intereses.
      this.$store.state.config.desc = insurer.promo.dto;
      this.$store.state.config.msi = insurer.promo.msi;
      
      this.$store.state.config.extraMsg = insurer.promo.extraMsg;
      this.$store.state.config.promoLabel = insurer.promo.label;

      // La promo es especial?
      this.$store.state.config.promoSpecial = insurer.promo.isSpecial;

      // Imagen para la promoción especial.
      this.$store.state.config.promoImg = insurer.promo.urlImg;

      /* Descomentar cuando la API mande estos valores
			y borrar los de abajo.

			store.state.config.cotizacion = insurer.quote;
			store.state.config.telefonoAS = insurer.phone;
			store.state.config.telefonoBtn = insurer.phone;

			*/

      // Si se trata de una promoción especial aplicamos los estilos necesarios
      // a el recuadro.
      if (insurer.promo.isSpecial) {
        this.$store.state.config.clase1 = "adornosPromo";
        this.$store.state.config.clase2 ="col-5 col-sm-5 col-md-5 col-lg-3 d-none d-lg-block";
        this.$store.state.config.clase3 ="col-7 col-sm-7 col-md-8 col-lg-6 my-auto";
        this.$store.state.config.colorPromo="descuentosPromo"
      }
    } catch (err) {
      console.log(err);
    }
  },
  head() {
    return {
      title: "HDI Seguros Autos - Cotiza con Seguros HDI en Segundos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:"HDI Seguros, Seguros HDI, HDI Seguros México, HDI Seguros Autos, Seguros de Autos HDI, Aseguradora HDI. "
        },
        {
          hid: "description",
          name: "description",
          content:"Cotiza seguro de auto en HDI Seguros, conoce las coberturas y beneficios al obtener tu póliza, cotiza en segundos y conoce el mejor plan. "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "seguroshdi.com"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://seguroshdi.com/"
        }
      ]
    };
  }
};
</script>