<template>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 imgFondo">
          <div class="colorFondo"></div>
          <div class="row">
            <div class="col-12 col-xl-10 offset-xl-1 p-0">
              <div class="txtVist">
                <div>
                  <p id="idGracias">
                    <b>Gracias por cotizar con {{$store.state.config.k1}}</b>
                    <br>
                  </p>
                  <div class="col-12 col-sm-12 col-md-10 m-auto bg-white rounded py-3 mb-3">
                <h2 class="txtgracias">Hola <strong>{{$store.state.formData.nombre}}</strong>,</h2>
                <h3 class="txtgracias">encontramos el mejor precio del seguro de tu auto</h3>
                  <div class="mt-2 col-md-10 col-12 px-2 m-auto">
                    <h3 class="dauto txtgracias" style="overflow:hidden;width:100%;font-weight:900">{{$store.state.formData.marca}}  {{$store.state.formData.modelo}} {{$store.state.formData.descripcion}} {{$store.state.formData.detalle}} </h3>
                  </div>
              </div>
                </div>
              </div>
            </div>
            <div
              class="col-12"
              v-if="!$store.state.cargandocotizacion && !$store.state.msjEje && !$store.state.msj"
            >
              <loader />
            </div>
            <div class="col-12 p-xl-0" v-if="$store.state.cargandocotizacion">
              <tabla />
            </div>
            <div class="col-12 col-md-8 offset-md-2" v-if="$store.state.msjEje">
              <msjSinRes />
            </div>
            <div class="col-12 col-md-8 offset-md-2" v-if="$store.state.msj">
              <msjSinRes />
            </div>
          </div>
        </div>
      </div>
    <logica-component/>
    </div>
</template>

<script>
import logicaComponent from "~/components/common/logica.vue"
import tabla from "~/components/utilities/tabla.vue";
import rest from "~/components/utilities/rest.vue";
import msjSinRes from "~/components/utilities/msjSinRes.vue";
import loader from "~/components/utilities/preLoader.vue";
export default {
  layout: "thanks",
  components: {
    tabla,
    rest,
    msjSinRes,
    loader,
    logicaComponent
  },
  head() {
    return {
      title: "HDI Seguros Autos - Cotiza con Seguros HDI en Segundos",
      meta: [
        {
          hid: "keywords",
          name: "keywords",
          content:"HDI Seguros, Seguros HDI, HDI Seguros México, HDI Seguros Autos, Seguros de Autos HDI, Aseguradora HDI. "
        },
        {
          hid: "description",
          name: "description",
          content:"Cotiza seguro de auto en HDI Seguros, conoce las coberturas y beneficios al obtener tu póliza, cotiza en segundos y conoce el mejor plan. "
        },
        { hid: "robots", name: "robots", content: "index, follow" },
        {
          hid: "author",
          name: "author",
          content: "seguroshdi.com"
        },
        {
          hid: "sitemap",
          rel: "sitemap",
          type: "application/xml",
          title: "sitemap",
          href: "sitemap.xml"
        },
        {
          hid: "canonical",
          rel: "canonical",
          href: "https://seguroshdi.com/thank-you"
        }
      ]
    };
  }
};
</script>