<template>
 <div class="contenedorPromo m-auto">
          <div class="container-fluid p-0 m-0" :class="this.$store.state.config.clase1">
            <div class="row pb-1 px-2 p-3 m-0">
              <div class="text-center my-auto" :class="this.$store.state.config.clase2">
                <img
                  :src="this.$store.state.config.logoAseguradora"
                  alt="Logo Aseguradora"
                  class="imgPromociones img-fluid"
                  width="70"
                  height="70"
                />
              </div>
              <div class="col-4 col-sm-4 col-md-4 col-lg-3 my-auto" v-show="this.$store.state.config.promoSpecial"
              >
                <img
                  :src="this.$store.state.config.promoImg"
                  alt="logo promocion"
                  class="ms-lg-1 ms-2 img-fluid logo-promo"
                  width="85"
                  height="85"
                />
              </div>
              <div class="col-8 col-sm-7 col-md-8 col-lg-6 my-auto" style="position:relative" :class="this.$store.state.config.clase3">
                <small class="labelPromo"
                  >{{ this.$store.state.config.promoLabel }}
                </small>
                <p :class="this.$store.state.config.colorPromo">
                  {{ this.$store.state.config.desc }}
                </p>
                <small class="msiPromo">{{
                  this.$store.state.config.msi
                }}</small>
                
                <small class="labelendPromo"> {{this.$store.state.config.extraMsg}} </small>
              </div>
              
            </div>

            <div class="row m-0">
              <div class="col-12 text-center  " style="background-color: #f3f3f3;">
                <img :src="this.$store.state.config.agenteAutorizado" alt="agente autorizado" width="400"  height="40" class="img-fluid ">
              </div>
            </div>
          </div>
        </div>
</template> 
<script> 

</script>
