<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 cont pl-1 pr-3 pr-xl-3">
        <div class="row">
          <div class="col-xl-10 col-12 offset-xl-1">
            <Contenido />
          </div>
        </div>
        <!-- -->
        <section>
          <div class="row bgColor">
            <div class="col-xl-10 offset-xl-1">
              <div class="col-12">
                <div class="tri"></div>
              </div>
              <h2>¿Por qué contratar HDI Seguros Autos?</h2>
              <p>HDI Seguros es una de las compañías que ha entrado en los últimos años al país y de las que mejor se ha posicionado en tan poco tiempo.</p>
              <p>A pesar de existir internacionalmente desde 1903, logró entrar a territorio mexicano en 2011, pero esto no ha sido un impedimento para su crecimiento acelerado, HDI Seguros México, ofrece un nivel innovador en su pólizas y los beneficios exclusivos con los que cuenta, que además no vas a encontrar en ninguna otra aseguradora.</p>
              <p>Las coberturas ofrecidas por Seguros HDI, no sólo son exclusivas, sino también son eficientes y están enfocados en cubrir TODAS la necesidades que puedas presentar al ser propietario de un vehículo.</p>
            </div>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h2>¿Cuáles son los beneficios de HDI Seguros Autos?</h2>
            <p>HDI Seguros ofrece, como ya mencionamos, pólizas innovadoras que exceden las coberturas de cualquier aseguradora, y continuación, sabrás porque.</p>
            <p>Los Seguros de Autos HDI, ofrecen las coberturas reglamentarias en México en todos sus paquetes, por lo tanto, no deberás de preocuparte por eso, sólo por escoger aquel plan que mejor se acomode a tus necesidades.</p>
            <p>Estas son algunas de las coberturas más exclusivas  y llamativas de HDI Seguros:</p>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cero deducible en caso de robo total</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Indemnización en caso de pérdida total, lo atractivo de esta cobertura, es que se comprometen a realizar el pago total en dos días, en caso de retraso, por día deberán de darte la cantidad de $1000.00</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Garantía al brindarte reparación de hojalatería y pintura, en caso de que no quedes satisfecho con el resultado,la reparación será realizada de nuevo</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Indemnización por daños a mascotas en accidentes, HDI Seguros es consciente de la importancia de las mascotas en las familias, por ello te dará $15,000.00 para gastos veterinarios y/o funerarios en caso de accidentes.</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Te brinda apoyo y asesoría mecánica sin importar en dónde te encuentres (ciudad o carretera federal)</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Seguros HDI, además te protege en caso de que te encuentres en estado de ebriedad y no puedas manejar tu auto, esto para garantizar tu seguridad, por lo que te ofrece un chofer privado que podrá llevarte seguro a tu destino.</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Gastos médicos que cubren cirugías estéticas en caso de ser necesarias por accidentes graves</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Seguros para rines y llantas, ya que estas autopartes son las que más sufren robos en los vehículos</li>
            </ul>
            <p>Cómo te podrás dar cuenta estos beneficios son únicos, y son los que hacen sus pólizas de las mejores en el mercado. Claro que no todos los seguros de autos HDI las incluye, sin embargo,  al contratar tu póliza, podrás ver el incluirlas como coberturas adicionales.</p>
            <h2>¿Cuáles son los tipos de cobertura con los que cuenta HDI Seguros?</h2>
            <p>HDI Seguros México te brinda planes de cobertura que se acomoden a tus necesidades y tu presupuesto para perjudicar tu economía al momento de contratar un Seguro de Autos HDI, nosotros te contamos de sus planes.</p>
            <p>Al ser una compañía de seguros de primer nivel considera todas necesidades, desde las más básicas, hasta las más rigurosas del mercado, ya que tienen todo tipo de clientes, sus planes son los siguientes:</p>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cobertura Básica o Responsabilidad Civil</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cobertura Limitada</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cobertura Amplia</li>
            </ul>
            <p>Además de estas coberturas, cuentan con coberturas premium para los usuarios más exigentes:</p>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Amante de los Autos: Tiene una cobertura de robo de autopartes, reparación en agencia y 10% adicional de indemnización por pérdida total,  con un 0% de deducible, entre otros beneficios.</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Auto-siempre:Cubre un seguro para llantas y rines,asistencia vial sin límites, reparación de llantas. En caso de ser requerido te ofrece un auto sustituto por 30 días, si es que el propio se encuentra inhabilitado producto de un siniestro.</li>
            </ul>
            <p>Estas coberturas te ofrecen las siguientes protecciones básicas, por lo cual no deberás de preocuparte por tu bolsillo:</p>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cobertura de Responsabilidad Civil: Seguro de daños a terceros ajenos a HDI Seguros, cubre cualquier gasto material o médico ocasionado por un siniestro por parte del asegurado.</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Gastos médicos: Cubre todos los gastos médicos propios o de terceros en caso de accidente:</li>
            </ul>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Gastos de ambulancia</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Primeros auxilios</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Hospitalización</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Cirugías</li> 
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Tratamientos y medicamentos</li>
            </ul>
            <h2>Cotización de Seguros para Autos HDI</h2>
            <p>Entre los factores a considerar al momento de realizar una cotización se encuentran:</p>
            <ul>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Modelo de auto</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Año</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Marca</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Edad del asegurado</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Género</li>
              <li><i class="imgCheckW imgCheck size" title="check"></i>&nbsp;Ciudad o estado en el que circulas</li>
            </ul>
            <p>Recuerda que cualquiera de los anteriores determina el precio de tu póliza de Seguros de Autos HDI, pero no te preocupes por calcularlo, si estás considerando contratar tu póliza en HDI Seguros ¡Nosotros te ayudamos! ¡Cotiza ahora!</p>
          
          </div>
        </section>
      
      </div>
    </div>
  </div>
</template>
<script>
import Contenido from "~/components/utilities/addCont.vue";
export default {
  components: {
    Contenido
  }
};
</script>