<template>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 cont pl-1 pr-3 pr-xl-3">
        <div class="row">
          <div class="col-xl-10 col-12 offset-xl-1">
            <Contenido />
          </div>
        </div>
        <!-- -->
        <section>
          <div class="row bgColor">
            <div class="col-xl-10 offset-xl-1">
              <div class="col-12">
                <div class="tri"></div>
              </div>
              <h2>¿Cómo Cotizar seguros de autos con ANA Seguros?</h2>
              <p>¿Sabías que tu mascota puede estar protegida si es que cuentas con los seguros de autos con ANA Seguros? Pues sí, si es que cuentas con una de las coberturas de dicha aseguradora, además de proteger a tu auto y a tu familia, también podrás proteger a tus mascotas de cualquier tipo de siniestro.</p>
              <p>En México, desde que los seguros de automóviles se establecieron como un requisito obligatorio, todos los conductores de cualquier tipo de vehículo con motor debe conseguir un respaldo, por ende, es bueno que a tiempo se consiga un seguro financiero que pueda ayudarte en los momentos más difíciles, como puede ser un accidente de auto o el robo de la unidad.</p>
              <p>En cuanto al Seguro de auto, ha creado ciertas coberturas que sirven para proteger a los autos y a las personas que lo hayan asegurado y depende de cada tipo de cobertura, el costo y el número de beneficios que se pueden llegar a adquirir.</p>
              <p>Entonces, todo aquel vehículo que decida transitar por territorio mexicano federal, deberá contratar un seguro de automóvil con el fin de proteger sus bienes y a los tripulantes, contemplando también a los terceros y peatones que en su momento también llegan a verse afectados.</p>
              <p>En cuanto a cómo cotizar el respaldo de la aseguradora, es fácil, únicamente debes ingresar al sitio oficial de la página y buscar la opción “Cotiza”, y se desplegará la siguiente información que deberás responder para conocer los Seguros autos:</p>
              <ul>
                <li>
                  <img src="/img/icon/checkB.svg" alt="check" />&nbsp;Búsqueda rápida: Año, marca submarca o versión.
                </li>
                <li>
                  <img src="/img/icon/checkB.svg" alt="check" />&nbsp;Búsqueda específica: Tipo de vehiculo, año o modelo, marca, submarca, versión, uso de la unidad, servicio.
                </li>
              </ul>
              <p>Así que es hora de conseguir las mejores coberturas con la empresa y conseguir el respaldo adecuado para tu auto, amigos y para tu familia.</p>
            </div>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h2>Beneficios de contratar Seguros de automóviles</h2>
            <p>Los Seguros de autos se convirtieron en uno de los requisitos más importantes para cientos de Mexicanos, no por el hecho de contratar y dejar parte de su dinero, sino que se ha convertido en la única oportunidad para conseguir la seguridad adecuado en momentos de gran dificultad, como es un accidente de auto o un siniestro.</p>
            <p>Elegir bien el tipo de cobertura, hará que en los momentos en que sufras un accidente de tránsito o seas víctima de un robo parcial o total, la empresa de seguros te ayude a indemnizar todos los daños y por eso es que debes considerar que al elegir la cobertura, no te dejes llevar por el costo, sino que tomes una decisión prudente y elijas por el número de coberturas que te beneficiarán.</p>
            <p>Además, en cuanto a los beneficios que puedes recibir al contratar un seguro son los siguientes:</p>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Es una de las empresas aseguradoras más reconocidas en México por brindar el soporte ideal.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Cuenta con cuatro coberturas que vas a poder elegir, según tus necesidades y las de tu auto: Amplia, UPT, Limitada, y Responsabilidad Civil.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Cuenta con la protección a lo largo del país, no importa el lugar en donde te encuentres.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Todas las coberturas cuentan con la cobertura básica de Responsabilidad Civil.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Puedes elegir coberturas que ayuden a proteger artículos como estéreo, bocinas, quemacocos, rines y otros accesorios.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Con los Seguros para Autos que la empresa te ofrece, vas a poder contar con el beneficio de recibir la atención médica, según sea la cobertura que hayas elegido.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Puedes llamar a las líneas telefónicas para recibir una mayor información durante los siete días de la semana, y las 24 horas sin importar días festivos.
              </li>
            </ul>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h3>Tabla de paquetes de coberturas de ANA Seguros</h3>
            <p>La empresa de Seguros de autos cuenta con cuatro diferentes tipos de paquetes de coberturas que te van a ayudar a cubrir los gastos que se lleguen a generar en un accidente de auto o por el simple hecho de haber sido víctima de robo, ya sea parcial o total, pues también apoya a quienes en ese caso hayan recuperado sus autos y hayan terminado con daños materiales.</p>
            <p>Las coberturas que vas a poder contratar son:</p>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Amplia
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;UPT
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Limitada
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Responsabilidad Civil
              </li>
            </ul>
            <p>Cada una funciona de diferente manera, también debes saber que cada usuario merece contratar el tipo de cobertura que necesita para su protección y la de sus autos.</p>
            <p>A continuación podrás analizar cada plan y cada una de sus coberturas:</p>
            <!-- TABLA -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Coberturas para Autos</th>
                    <th>Amplia</th>
                    <th>UPT</th>
                    <th>Limitada</th>
                    <th>Responsabilidad Civil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-start">Daños materiales</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Únicamente Pérdida Total en Daños Materiales</td>
                    <td></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Robo Total</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Responsabilidad Civil de Bienes</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Responsabilidad Civil de personas</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Responsabilidad Civil catastrófica</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Gastos médicos</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Defensa Jurídica</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Asistencia Vial de Viajes</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <p>Tomando en cuenta lo anterior, te darás cuenta de que la cobertura Amplia cuenta con la mayoría de las coberturas, pero aún así no protege la pérdida total en daños materiales, eso quiere decir que la aseguradora cuenta con coberturas adicionales para que consigas un mejor respaldo financiero, moral y legal.</p>
            <p>Ahora, Cotizar seguro de auto te convierte en una persona responsable y un conductor civilizado, ya que además de conseguir el seguro por obligación, te darás cuenta de que contar con el apoyo de la empresa es lo más importante que puede hacer todo conductor.</p>
          </div>
        </section>
        <!-- -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h3>Coberturas Adicionales con las que puedes estar mejor protegido</h3>
            <p>Las coberturas adicionales son aquellas que funcionan con el fin de obtener un mayor rango de protección al auto e incluso se contempla a los usuarios. A continuación verás en la tabla las coberturas adicionales que vas a poder contratar para un mejor respaldo:</p>
            <!-- TABLA -->
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Coberturas Adicionales</th>
                    <th>Amplia</th>
                    <th>UPT</th>
                    <th>Limitada</th>
                    <th>R.C</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-start">Auto Sustituto</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">No Pago de Deducible por PT x DM</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">No Pago de Deducible por PP x DM</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Extensión de Coberturas</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Muerte Accidental</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Desbielamiento por Agua</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Devolución de la Prima y Deducible</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Grúa por Colisión</td>
                    <td></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Reparación en Agencia</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Robo Parcial</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Blindaje</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Equipo Especial</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Adaptaciones</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class="text-start">Responsabilidad Civil USA</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                  </tr>
                  <tr>
                    <td class="text-start">Multas y Corralones</td>
                    <td><img src="/img/icon/check.svg" alt="check" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!--  -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h3>Coberturas que puedes recibir, según el tipo de paquete que contrates</h3>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Daños materiales: La aseguradora se encargará de reparar los daños mecánicos, hojalatería, pintura, etc. Además de que cuentas con el beneficio de no pagar el deducible en pérdida total o parcial a causa de alborotos populares, o huelgas (marchas).
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Robo Total: Cuando el auto sea robado y no se recupere, la aseguradora se encargará de pagar el valor comercial o el valor convenido, según sea el caso.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;RC Bienes y Personas: Si tú causaste el accidente, la empresa de seguros te ayudará a pagar los daños materiales y a personas con el límite que se estipuló en la póliza de seguros.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Asistencia Vial y Viajes: La cobertura te ayuda en caso de que el auto tenga una avería, por batería baja, falta de gasolina, un fusible, una pinchadura, etc y el arrastre con grúa a un taller mecánico que elijas o en un radio de kilometraje pre-establecido en las condiciones generales de los Seguros de autos.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Gastos Médicos Ocupantes: Si los acompañantes (pasajeros) requieren de una atención médica, la empresa de seguros de ayudará con el pago correspondiente a los gastos que se lleguen a generar.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Defensa Jurídica y Asistencia Legal: Vas a recibir la asesoría jurídica y legal a consecuencia del accidente y que seas remitido a una agencia del ministerio público.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Auto Sustituto: Cuando al auto se le haya declarado como pérdida total por daños materiales, te otorga hasta $15,000, según los Seguros para autos que hayas contratado.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;ANA RENT: Te da un pago adicional como pago de la pérdida total por robo del auto y consta de $15,000.
              </li>
            </ul>
            <p>Es hora de Cotizar seguro de auto y conozcas las mejores coberturas para proteger a tu auto y a cada uno de sus tripulantes.</p>
          </div>
        </section>
        <!--  -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h4>¿Cómo utilizar un Cotizador de Seguros de Auto?</h4>
            <p>El uso de un cotizador de seguro de auto puede ser una buena opción para conocer el tipo de coberturas que puedes contratar con la empresa de seguros y es que es una herramienta que funciona de tal manera que desde que ingresas tus datos vas a poder obtener información de tu auto, en cuanto a sus coberturas y sus precios para que puedas analizar completamente antes de contratar.</p>
            <p>Por ejemplo, con esta aseguradora vas a poder cotizar los seguros de autos que requieras conocer, y con los siguientes datos que pide el comparador vas a poder obtener una mayor información:</p>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Año
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Submarca
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Marca
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Versión
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Vigencia
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Estado
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Municipio
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Forma de pago
              </li>
            </ul>
            <p>Ya que desde que pulsas la opción “Cotizar” vas a ingresar los datos y pulsando también “continuar” para así Cotizar seguro de auto, que es muy fácil y con ANA Seguros vas a conocer todas las coberturas que puedes contratar y conocer sus precios.</p>
            <p>Ya cuando hayas ingresado todos los datos y llegaste al último paso, vas a poder conocer los planes: Amplia Básica, Amplia +10, Amplia, Limitada y RC y a su lado derecho el costo de cada una de las coberturas por cada auto. Cabe mencionar que según los datos de cada conductor, los valores van a cambiar.</p>
          </div>
        </section>
        <!--  -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h4>Requisitos para su contratación</h4>
            <p>Cuando hayas terminado de cotizar seguro de auto, y en caso de que ya estés decidido a contratar alguna de las coberturas de seguros autos, te informamos que debes cumplir con ciertas características. Así que para contratar los seguros de autos con ANA Seguros vas a necesitar lo siguiente:</p>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Tener la mayoría de edad (18 años).
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Contar con licencia de conducir vigente; de acuerdo al tipo de auto que se va a asegurar.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Copia de la tarjeta de circulación vehícular.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Copia de la identificación oficial.
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Llenar la solicitud de seguro correctamente.
              </li>
            </ul>
            <p>Además de tener a la mano los datos siguientes de la unidad:</p>
            <ul>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Marca
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Submarca
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Modelo (año)
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Placas
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Número de serie
              </li>
              <li>
                <img src="/img/icon/check.svg" alt="check" />&nbsp;Número de motor
              </li>
            </ul>
          </div>
        </section>
        <!--  -->
        <section>
          <div class="col-xl-10 offset-xl-1 p-0">
            <h4>Ahorra al cotizar seguro de Auto y eligiendo las mejores coberturas</h4>
            <p>Como dicen muchos, lo barato sale caro y para que no te salga caro el seguro vehicular, anímate a cotizar seguro de auto con ANA Seguros, y consigue la cobertura que creas mejor para tu auto y cara tí.</p>
            <p>Ahora es decisión tuya la de elegir la cobertura por precio o por la capacidad de respaldar todos tus daños. Sólo basta que intentes cotizar el seguro con el comparador que está en la página web e ingreses todos tus datos para que conozcas las coberturas de cada plan y el costo que estarías pagando de contado, trimestral,cuatrimestral o semestral.</p>
            <p>Analiza cada uno de los planes y decídete a contratar el tipo de seguro ideal para tu auto, y que al mismo tiempo te proteja o represente, además de lo legal, médicamente.</p>
          </div>
        </section>
        <!--  -->
      </div>
    </div>
  </div>
</template>
<script>
import Contenido from "~/components/utilities/addCont.vue";
export default {
  components: {
    Contenido
  }
};
</script>